/* .bg-blue {
    background: #2c6ed5;
}

.bg-white {
    background: #fff;
} */

/* ==========================================================================
   #CARD
   ========================================================================== */
/* .card-1 {
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

.p-y-100 {
    padding-top: 100px !important;
} */
